/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap"); */
/* @import url('http://fonts.cdnfonts.com/css/berliana-lovely'); */
@font-face {
  font-family: "Berliana Lovely";
  src: url(../fonts/Berliana\ Lovely\ Freebies.otf);
}
:root{
  --darkredone--:#330000;
  --darkredtwo--:rgb(83, 0, 0);
  --red--:rgb(126, 0, 0);
  --light--: #f8f9fa;
  --gray--: #5f5f5f;
}
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
  color: inherit;
  text-decoration: none;
}
h2{
  text-shadow: 0px 2px 4px var(--darkredtwo--);
  color: var(--darkredone--);
}

h1, h2, h3, h4, h5, h6, a{
  text-transform: uppercase;
  font-family: 'Berliana Lovely' !important;
}

#loading{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  cursor: wait;
}

header{
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-size: cover;
  background-position: center;
  position: relative;
}
.header-overlay{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.527); */
  /* opacity: 0.5; */
  background-image: linear-gradient(to top, var(--light--), rgb(255 255 255 / 50%), var(--light--));
  z-index: 2;
}
header.reservation {
  /* background-image: linear-gradient(to top,rgb(204, 204, 204), rgba(248, 249, 250, 0.9), transparent), url("../public/images/header.jpg"); */
  background-image: linear-gradient(to top, var(--light--), rgb(255 255 255 / 50%), var(--light--)), url("../public/images/bookwomen.jpg");
  /* background-color: rgb(255 255 255 / 50%); */
}
header.reservation .row{
  z-index: 3;
  position: relative;
}
header.reservation .row form{
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header.reservation .row form input , header.reservation .row form select{
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 2px solid #ccc !important;
  padding: 5px 10px;
}
header.reservation .row form .time{
  display: flex;
  align-items: center;
  gap: 20px;
}

header.reservation .row form select{
  width: fit-content;
  display: inline-block;
}
/* header.reservation .row form select{

} */
header.reservation .row form input[type="radio"]{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-left:15px;
  margin-right: 5px;
  padding: 0;
}
header.reservation .row form .form-check-input:checked{
  background-color: var(--darkredone--);
}
.hello{
  color: var(--gray--);
  z-index: 3;
  text-align: center;
}
.hello h1{
  max-width: 270px;
  margin: auto;
  font-size: 40px;
}
.hello p{
  color: var(--gray--);
  max-width: 400px;
  margin: 0 auto 20px auto;
}
.hello a{
  color: var(--gray--);
  backdrop-filter: blur(10px);
  border: 2px solid var(--gray--) !important;
  transition: all 0.7s !important;
}
.hello a:hover{
  background-color: var(--darkredone--);
  color: var(--light--);
}
.navbar{
  position: fixed !important;
  width: 100%;
  background-color: transparent;
  padding: 20px 0;
  -webkit-transition: padding 0.5s, background 0.5s;
  transition: padding 0.5s, background 0.5s;
  z-index: 5;
  font-weight: bold;
}
.navbar a {
  color: var(--gray--) !important;
}

main{
  background-image: linear-gradient(to top, #fff,#ccc, rgba(255, 255, 255, 0.356)),url("../public/images/about.jpg");
  background-size: cover;
  background-position: center;
}

main form{
  backdrop-filter: blur(10px);
  background-color: #33000048;
}

.form-control:focus{
  box-shadow: 0 0 0 0.25rem rgb(70 0 0 / 25%);
}

.navbar .nav-link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.image_border, .btn{
  border: 2px solid #ccc !important;
}

.card{
  color: var(--light--);
  background-color: var(--darkredone--);
  border: 1px solid var(--darkredtwo--);
}
.card .price{
  padding: 5px 10px;
  background-color: rgba(0, 128, 0, 0.5);
  width: fit-content;
}

.navbar .nav-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar .navbar-toggler {
  color: var(--gray--);
  border-color: var(--gray--);
  -webkit-box-shadow: none;
          box-shadow: none;
  }
  .nav_not_top {
  padding: 10px 0;
  backdrop-filter: blur(10px);
  background-color: rgba(59, 0, 0, 0.205);
  /* border-bottom: 1px solid var(--darkredtwo--); */
}

.swiper-button-next, .swiper-button-prev{
  /* transform: translate( -50%, 0%); */
}
.swiper-button-next{
  right: 0 !important;
}
.swiper-button-prev{
  left: 0 !important;
}
.swiper-button-next:after, .swiper-button-prev:after{
  color: var(--darkredtwo--);
}
section{
  overflow: hidden;
}
.btn-outline{
  color: var(--darkredtwo--) ;
  border: 2px solid;
  transition: all 0.3s !important ;
}
.btn-outline:hover{
  color: #fff;
  background-color: var(--darkredone--);
}

footer a.btn{
  color: var(--darkredtwo--);
  border: 2px solid var(--darkredtwo--);
  background-color: var(--light--);
}
footer a.btn:hover{
  color: #fff;
  background-color: var(--darkredtwo--);
}
.zena{
  position: relative;
  height: fit-content;
}
.frame{
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: -8%;
}
/* .swiper {
  width: 280px;
  height: 340px;
} */
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  /* color: #fff; */
}
.mySwiper i{
  position: absolute;
  top: 50%;
  font-size: 150px;
  left: -50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  color: var(--darkredone--);
  filter: drop-shadow(0 .5rem 1rem rgba(0,0,0,.15));
}
.mySwiper i.fa-utensil-knife{
  left: 150%;
}
.swip-active{
  background-color: var(--darkredone--);
  color: var(--light--);
}
.active-cat{
  background-color: var(--darkredone--) !important;
  color: var(--light--) !important;
}
@media (max-width: 991px) {
  .navbar .nav-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbar .nav-link:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: 0px 2px 0px 0px #fff;
            box-shadow: 0px 2px 0px 0px #fff;
  }
}
@media (max-width:767px) {
  .HIM, .mySwiper i{
    display: none;
  }
  .zena{
    width: 90%;
    margin: 20px auto;
  }
}